<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>404 Page</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
    <nav>
        <div class="menu">
            <p class="website_name">Duu</p>
            <!-- <div class="menu_links">
            <a href="" class="link">about</a>
            <a href="" class="link">projects</a>
            <a href="" class="link">contacts</a>
        </div> -->
            <!-- <div class="menu_icon">
            <span class="icon"></span>
        </div> -->
        </div>
    </nav>
    <section class="wrapper">
        <div class="container">
            <div id="scene" class="scene" data-hover-only="false">
                <div class="circle" data-depth="1.2"></div>
                <div class="one" data-depth="0.9">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>
                <div class="two" data-depth="0.60">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>
                <div class="three" data-depth="0.40">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>
                <p class="p404" data-depth="0.50">404</p>
                <p class="p404" data-depth="0.10">404</p>
            </div>
            <div class="text">
                <article>
                    <p>Uh oh! 看来你迷路了吖~🤣🤣🤣</p>
                    <a th:href="@{/index}"><button>返回首页</button></a>
                </article>
            </div>
        </div>
    </section>

    <!-- <th:block th:repalce="~{_fragments :: script}">
</th:block> -->
    <script th:src="@{/js/jquery.min.js}"></script>

</body>

</html>